body {
    display: flex;
    justify-content: center;
    background-image: url(https://png.pngtree.com/background/20210714/original/pngtree-cartoon-illustration-winter-snowy-background-picture-image_1246046.jpg);
}
.basecuerpo{
    margin-top: 100px;
    background-color: rgb(243, 46, 46);
    height: 300px;
    width: 300px;
    border-radius: 200px ;
}
.basecuerpo2{
    margin-top: 40px;
    margin-left: -15px;
    background-color: rgb(31, 29, 29);
    height: 300px;
    width: 330px;
    border-radius: 200px ;
}
.brazo1{
    background-color: rgb(31, 29, 29);
    height: 120px;
    width: 50px;
    transform: rotate(43deg);
    border-radius:100px 0px 100px 500px ;
    margin-top: -230px;
    margin-left: -38px;
}
.brazo2{
    background-color: rgb(31, 29, 29);
    height: 120px;
    width: 50px;
    transform: rotate(133deg);
    border-radius:500px 100px 0px 100px ;
    margin-top: -120px;
    margin-left: 290px;
}
.relleno{
    position: solid;
    margin-top: 138px;
    margin-left: -300px;
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 200px ;
    z-index: 1;
}
#d{
    z-index: 2;
}
.rellenoc{
    background-color: rgb(31, 29, 29);
    height: 40px;
    width: 60px;
    margin-left: -180px;
    margin-top: 110px;
    z-index: 3;
    border-radius: 300px;
}
.ojo1{
    background-color:rgb(31, 29, 29);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 170px;
    margin-left: -110px;
    z-index: 4;
}
.ojo2{
    background-color:rgb(31, 29, 29);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 170px;
    margin-left: 60px;
    z-index: 4;
}
.rellenojo1{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 190px;
    margin-left: -150px;
    z-index: 5;
}
.rellenojo2{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 190px;
    margin-left: 120px;
    z-index: 5;
}
.pico{
    background-color: rgba(255, 68, 0, 0);
    width: 0px;
    height: 0px;
    border-radius:100% ;
    border-left: 40px solid transparent ;
    border-right: 40px solid transparent;
    border-bottom: 40px solid rgb(247, 102, 102);
    transform: rotate(180deg);
    margin-top: 220px;
    margin-left: -110px;
    z-index: 4;
}
.pico1{
    background-color: rgba(255, 68, 0, 0);
    width: 0px;
    height: 0px;
    border-radius:100% ;
    border-left: 30px solid transparent ;
    border-right: 30px solid transparent;
    border-bottom: 30px solid rgb(255, 174, 0);
    transform: rotate(180deg);
    margin-top: 220px;
    margin-left: -70px;
    z-index: 4;
}
.pico2{
    background-color: rgba(255, 68, 0, 0);
    width: 0px;
    height: 0px;
    border-radius:100% ;
    border-left: 43px solid transparent ;
    border-right: 43px solid transparent;
    border-bottom: 48px solid rgb(238, 152, 31);
    transform: rotate(180deg);
    margin-top: 218px;
    margin-left: -73px;
    z-index: 3;
}
.barriga{
    width: 210px;
    height: 150px;
    background-color: rgba(236, 229, 229, 0.986);
    border-radius: 200px;
    z-index: 4;
    margin-top: 280px;
    margin-left: -150px;
}
.bbrazo1{
    background-color: rgb(255, 255, 255);
    height: 120px;
    width: 35px;
    transform: rotate(43deg);
    border-radius:100px 0px 100px 500px ;
    margin-top: 205px;
    margin-left: -275px;
    z-index: 5;
}
.bbrazo2{
    background-color: rgb(255, 255, 255);
    height: 120px;
    width: 35px;
    transform: rotate(43deg);
    border-radius:500px 100px 0px 100px ;
    margin-top: 205px;
    margin-left: 275px;
    transform: rotate(133deg);
    z-index: 5;
}
.bpie1{
    width: 60px;
    height: 100px;
    background-color: orange;
    top: 360px;
    position: relative;
    margin-left: -250px;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(30deg);
    
}
.bpie2{
    width: 60px;
    height: 100px;
    background-color: orange;
    border-radius:50% 50% 50% 50% ;
    top: 360px;
    position: relative;
    margin-left: 30px;
    transform: rotate(150deg);
    
}

